h1{
    font-family: cursive;
    font-size: 300%;
 }
 h3{

    font-size: 150%;
 }
 body{
background-color: papayawhip;
 }

 h4{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    color: darkblue;
 }

 p{

    font-family: Arial, Helvetica, sans-serif;
 }